.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.main-container input{
    color: rgb(13, 13, 106);
}
.cart-container{
    background-color: #2c2c54;
    border: 1px solid;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 5px 10px 20px 10px ;
    position: sticky;
    margin-bottom: 40px;
    
}

@media only screen and (max-width: 600px) {
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
    
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px){
    .main-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
    
    }
}
