.player img{
    height: 350px;
    width: 100%;
    border-radius: 15px;
    padding: 7px ;

}
.player{
    height:550px;
    background-color: #40407a;
    border: 1px solid gray;
    border-radius: 15px;
    font: italic;
    box-shadow:  5px 5px 10px ;
}
.player button{
    border-radius: 0px 0px 15px 15px;
}